{% extends 'layout/base.html' %}

{% block 'title' %}Crear Usuario{% endblock %}

{% block 'style' %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock  %}

{% block 'content' %}

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="success"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <span class="btn-Aux-forms"><a href="{% url 'usuario' %}">Volver</a></span>
    <form action='{% url 'usuario_create' %}' method="POST">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <div class='btn-wrapper'>
            <input type='submit' value='Guardar' class='btn-Enviar'>
        </div>
    </form>
{% endblock  %}