{% extends 'layout/base.html' %}

{% block 'title' %}Usuarios{{ usuarios.nombre }}{% endblock %}

{% block 'content' %}
<span class="btn-Aux"><a href="{% url 'contacto' %}">Volver</a></span>
<ul class='list'>
        <li><b>Nombre:</b>{{ usuarios.nombre }}</li>
        <li><b>Apellido:</b>{{ usuarios.apellido }}</li>
        <li><b>Telefono:</b>{{ usuarios.telefono }}</li>
        <li><b>Correo:</b>{{ usuarios.correo }}</li>
        <li><b>Empresa:</b>{{ usuarios.empresa }}</li>
        <li><b>Fecha Creacion:</b>{{ usuarios.fecha }}</li>
        <li><b>Notas:</b>{{ usuarios.notas }}</li>
</ul>
{% endblock  %}